@page "/alunos"
@inject IAlunoService alunoService
@inject LoginContainer loginContainer

@if (loginContainer.Logado == true && loginContainer.IsAdmin == true)
{
    @if (Aluno == null)
    {
        <h3>Carregando alunos cadastrados...</h3>
    }
    else
    {
        @if (Aluno.Count() > 0)
        {
            <br>
            <table id="alunos">
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Cpf</th>
                    <th>Ra</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                    <th>Curso</th>
                </tr>
                @foreach (var aluno in Aluno)
                {
                    <tr>
                        <td>@aluno.Id</td>
                        <td>@aluno.Nome</td>
                        <td>@aluno.Cpf</td>
                        <td>@aluno.Ra</td>
                        <td>@aluno.Telefone</td>
                        <td>@aluno.Email</td>
                        <td>@aluno.CursoNome</td>
                    </tr>
                }
            </table>
        }

    }

}



@code {
    public IEnumerable<AlunoDto>? Aluno { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Aluno = await alunoService.GetAlunos();
    }  
}
