@page "/LivroDetalhes/{Id:int}"

@if (Livro is null && MensagemErro is null)
{
    <ExibirSpinner />
}
else if (MensagemErro is not null)
{
    <ExibirErro MensagemErro="@MensagemErro"></ExibirErro>
}
else
{
    <div class="row">
        <div class="col-md-6 mb-4">
            <img class="img" src="@Livro.ImagemUrl">
        </div>
        <div class="info">
            <h3>@Livro.NomeLivro</h3>
            <h5>@Livro.Autor</h5>
            <br>
            <p class="mb-4">@Livro.Descricao</p>
            <p class="mb-4"></p>
            <p classclass="mb-4">@Livro.Quantidade livros disponíveis</p>
            <div>
                <button class="btn btn-warning">
                    Adicionar aos favoritos
                </button>
                <button class="btn btn-sucess" 
                    @onclick="() => AdicionarALocacao_Click(new LocacaoAdicionaLivroDto{
                        LocacaoId = AlunoLogado.LocacaoId,
                        LivroId = Livro.Id,
                        Quantidade = 1
                    })">
                    Adicionar ao carrinho
                </button>
            </div>
        </div>
    </div>
    
}

@code {
    [Inject]
    public ILivroService? LivroService { get; set; }
    [Inject]
    public ILocacaoService? LocacaoService { get; set; }

    [Inject]
    public NavigationManager? NavigationManager { get; set; } // navega de add ao carrinho para o carrinho em si

    [Parameter]
    public int Id { get; set; }

    public LivroDto? Livro { get; set; }
    public string? MensagemErro { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Livro = await LivroService.GetLivro(Id);
        }
        catch (Exception ex)
        {
            MensagemErro = ex.Message;
        }
    }

    protected async Task AdicionarALocacao_Click(LocacaoAdicionaLivroDto locacaoAdicionaLivroDto)
    {
        try
        {
            // adicionará o livro escolhido à cesta
            var locacaoLivroDto = await LocacaoService.AdicionaLivro(locacaoAdicionaLivroDto);
            NavigationManager.NavigateTo("/Locacao");
        }
        catch (Exception)
        {
            
            throw;
        }
    }
}
